<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="conn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
			 AttachDbFilename=|DataDirectory|RestaurantDB.MDF;Integrated Security=True"
	providerName="System.Data.sqlclient" />
	</connectionStrings>
</configuration>